<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chn.dao.FileMapper">
    <insert id="uploadFile" parameterType="Files">
        insert into file(fileName, fileUrl) values (#{fileName},#{fileUrl});
    </insert>

    <select id="queryAllFile" resultType="Files">
        select * from file;
    </select>
</mapper>